body {
    height: 100%;
}

iframe {
    border: 0;
}

md-tabs-content-wrapper, md-tab-content, md-tab-content > div, .fill-height {
    height: 100%;
}

.menu-item {
    display: block;
    max-height: 40px;
    line-height: 40px;
    padding: 0px 28px;
}

.menu-parent-item {
    color: #888;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.menu-sub-item {
    text-transform: none;
    color: #333;
}

.md-tab.md-active {
    color: #000000 !important;
}
