<html ng-app="nameApp">
    <head>
        <meta charset="utf-8">
        <title>Angular.js Example</title>
        <script src="/js/components/angular/angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="NameCtrl">
        <div>
            First name: <input ng-model="firstName" type="text"/>
            <br>
            Last name: <input ng-model="lastName" type="text"/>
            <br>
            Hello {{firstName}} {{lastName}}
        </div>
    </body>
</html>
