body {
    height: 100%;
}

iframe {
    border: 0;
}

.fill-height {
    height: 100%;
}

.menu-item {
    width: 100%;
    display: block;
    max-height: 40px;
    line-height: 40px;
    padding: 0px 28px;
}

.menu-parent-item {
    color: #888;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.menu-sub-item {
    text-transform: none;
    color: #333;
}
