body {
    height: 100%;
}

iframe {
    border: 0;
}

.angular-icon {
    background-color: #03A9F4;
    padding: 5px;
}

.container {
    height: 100%;
}

.menu-item {
    width: 100%;
    display: block;
    max-height: 40px;
    line-height: 40px;
    padding: 0px 28px;
    color: #333;
}

.menu-sub-item {
    text-transform: none;
}
