<!DOCTYPE html>
<html ng-app="nameApp">
    <head>
        <meta charset="utf-8">
        <title>Angular.js Example</title>
        <script src="../../js/components/angular/angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="NameCtrl as c">
        <div>
            First name: <input ng-model="c.firstName" type="text"/>
            <br>
            Last name: <input ng-model="c.lastName" type="text"/>
            <br>
            Hello {{c.firstName}} {{c.lastName}}
        </div>
    </body>
</html>
