<!DOCTYPE html>
<html ng-app="angTutApp" ng-controller="HomeCtrl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Angular Tutorial</title>

        <link rel="stylesheet" href="js/components/angular-material/angular-material.css">
        <link rel="stylesheet" href="css/highlight-default.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/components/angular/angular.js"></script>
        <script src="js/components/angular-route/angular-route.js"></script>
        <script src="js/components/angular-aria/angular-aria.js"></script>
        <script src="js/components/angular-animate/angular-animate.js"></script>
        <script src="js/components/hammerjs/hammer.js"></script>
        <script src="js/components/angular-material/angular-material.js"></script>
        <script src="js/highlight.pack.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button href="/#/" class="md-default-theme">
                    Angular Tutorial
                </md-button>
                <!-- fill up the space between left and right area -->
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="row" class="container">
            <md-sidenav layout="column" class="md-whiteframe-z1"
                md-component-id="left" md-is-locked-open="true">

                <md-content flex
                    class="md-theme-indigo">
                    <div ng-repeat="section in examples">
                        <md-button class="menu-item md-primary"
                            ng-click="menu.toggleSelectSection(section)"
                            md-highlight="menu.isSectionSelected(section)">
                            {{section.name}}
                        </md-button>

                        <md-button class="menu-item menu-sub-item md-menu-item"
                            ng-repeat="example in section.examples"
                            ng-show="menu.isSectionSelected(section)"
                            ng-href="#{{example.id}}">
                            Example {{example.id}}
                        </md-button>
                    </div>

                </md-content>
            </md-sidenav>
            <md-content layout-padding layout-fill md-scroll-y layout="column"
                ng-view>
            </md-content>
        </div>
    </body>
</html>
